* {
    margin: 0;
    padding: 0;
}

body {
    background: #333333;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

#canvas1 {
    cursor: pointer;
    background-color: #ffffff;
}

#guide {
    display: grid;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0/1);
    pointer-events: none;
}

#guide div {
    border: 1px solid rgba(0, 0, 0, 0.1);
}